<!DOCTYPE html>
<html lang="en" class="light">
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>End To End | Our Insights</title>	

		<meta name="keywords" content="WebSite Template" />
		<meta name="description" content="Porto - Multipurpose Website Template">
		<meta name="author" content="okler.net">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../assets/img/logo transparent.png" type="image/x-icon" />
		<link rel="apple-touch-icon" href="../../assets/img/apple-touch-icon.png">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=family=Lora:400,400i,700,700i|Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="../../assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="../../assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="../../assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="../../assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="../../assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../../assets/css/theme.css">
		<link rel="stylesheet" href="../../assets/css/theme-elements.css">
		<link rel="stylesheet" href="../../assets/css/theme-blog.css">
		<link rel="stylesheet" href="../../assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="../../assets/css/demos/demo-digital-agency-2.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="../../assets/css/skins/skin-digital-agency-2.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../../assets/css/custom.css">

		<!-- Head Libs -->
		<script src="../../assets/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body>

		<div class="body">
			<header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 1, 'stickyHeaderContainerHeight': 100}">
				<div class="header-body border-top-0 bg-color-dark box-shadow-none">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column header-column-logo">
								<div class="header-row">
									<div class="header-logo">
										<a href="index.html">
											<img alt="Porto"  height="59" src="../../assets/img/logo transparent.png">
										</a>
									</div>
								</div>
							</div>
							<div class="header-column header-column-nav-menu justify-content-end w-100">
								<div class="header-row">
									<div class="header-nav header-nav-links header-nav-dropdowns-dark header-nav-light-text order-2 order-lg-1">
										<div class="header-nav-main header-nav-main-mobile-dark header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown-primary">
														<a class="nav-link text-capitalize font-weight-semibold custom-text-3" href="index.html">
															Home
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3" class="dropdown-toggle" href="views/About/About.html">
															Solutions
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title" href="#">Talent Managament</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 1</a></li>
																				<li><a class="dropdown-item" href="#">Solution 2</a></li>
																				<li><a class="dropdown-item" href="#">Solution 3</a></li>
																				<li><a class="dropdown-item" href="#">Solution 4</a></li>
																				<li><a class="dropdown-item" href="#">Solution 5</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title" href="#">Products</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="#">Product 1</a></li>
																				<li><a class="dropdown-item" href="#">Product 2</a></li>
																				<li><a class="dropdown-item" href="#">Product 3</a></li>
																				<li><a class="dropdown-item" href="#">Product 4</a></li>
																				<li><a class="dropdown-item" href="#">Product 5</a></li>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title" href="#">Services</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="#">Managed Services</a></li>
																				<li><a class="dropdown-item" href="#">Training Services</a></li>
																				<li><a class="dropdown-item" href="#">Training Calendar</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
													<li class="dropdown">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3" class="dropdown-toggle" href="demo-digital-agency-2-our-services.html">
															industries
														</a>
														<ul class="dropdown-menu">
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 1
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 2
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 3
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 4
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 5
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 6
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="demo-digital-agency-2-our-services.html">
																	Industry 7
																</a>
															</li>
														</ul>
													</li>
													<li class="dropdown-primary">
														<a class="nav-link text-capitalize font-weight-semibold custom-text-3" href="views/Contact/Contact.html">
															Contact Us
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3 active" class="dropdown-toggle" href="views/About/About.html">
															About
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Company</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="elements-alerts.html">Leadership Team</a></li>
																				<li><a class="dropdown-item" href="elements-alerts.html">FAQs</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">News & Events</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="elements-content-rotate.html">Blogs</a></li>
																			</ul>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="elements-content-rotate.html">Insights</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Partners</span>
																			<ul class="dropdown-mega-sub-nav">
																					<li><a class="dropdown-item" href="elements-maps.html">EndToEnd Partners</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Customers</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="elements-sections.html">ROI Calculator</a></li>
																				<li><a class="dropdown-item" href="elements-shape-dividers.html">Testimonials</a></li>
																				<li><a class="dropdown-item" href="elements-shape-dividers.html">Projects</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end d-none d-lg-flex">
								<div class="header-row">
									<a href="../demo/demo.html" class="btn btn-outline custom-btn-outline btn-primary rounded-0 font-weight-semibold text-color-light bg-color-hover-primary text-3 btn-px-3 py-2 mt-2 bookDemo">Book a Demo</a>
								</div>
							</div>
					</div>
				</div>
			</header>
			<div role="main" class="main">

			<section class="page-header page-header-modern page-header-background bg-color-dark p-relative z-index-1 lazyload" style="background-image: url(../../assets/images/blogs/sectionTopBg.jpg);">
				<span class="custom-circle custom-circle-1 bg-color-light custom-circle-blur appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400"></span>
				<span class="custom-circle custom-circle-2 bg-color-primary appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="500"></span>
				<span class="custom-circle custom-circle-3 bg-color-primary appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="600"></span>
				<div class="container">
					<div class="row mt-5">
						<div class="col">
							<ul class="breadcrumb breadcrumb-light custom-title-with-icon-primary d-block">
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">News & Events</a></li>
								<li class="active">Blogs</li>
							</ul>
							<h1 class="custom-text-10 font-weight-bold">Blogs</h1>
						</div>
					</div>
				</div>
			</section>

				<div class="container py-5 p-relative z-index-2">
					<div class="row">
						<div class="col-lg-9 order-lg-1">
							<div class="blog-posts">

								<article class="post post-medium">
									<div class="row mb-3">
										<div class="col-lg-5">
											<div class="post-image">
												<a href="blogs-single.html">
													<img src="../../img/blog-11-square.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="post-content">
												<h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2"><a href="blogs-single.html">This is a stardard post with preview image</a></h2>
												<p class="mb-0">Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="post-meta">
												<span><i class="far fa-calendar-alt"></i> January 10, 2023 </span>
												<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
												<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
												<span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="blogs-single.html" class="btn btn-light text-1 text-uppercase" style="border-radius: var(--bs-btn-border-radius) !important;">Read More</a></span>
											</div>
										</div>
									</div>
								</article>								
								<article class="post post-medium">
									<div class="row mb-3">
										<div class="col-lg-5">
											<div class="post-image">
												<a href="blogs-single.html">
													<img src="../../img/blog-11-square.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="post-content">
												<h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2"><a href="blogs-single.html">This is a stardard post with preview image</a></h2>
												<p class="mb-0">Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="post-meta">
												<span><i class="far fa-calendar-alt"></i> January 10, 2023 </span>
												<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
												<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
												<span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="blogs-single.html" class="btn btn-light text-1 text-uppercase" style="border-radius: var(--bs-btn-border-radius) !important;">Read More</a></span>
											</div>
										</div>
									</div>
								</article>								
								<article class="post post-medium">
									<div class="row mb-3">
										<div class="col-lg-5">
											<div class="post-image">
												<a href="blogs-single.html">
													<img src="../../img/blog-11-square.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="">
												</a>
											</div>
										</div>
										<div class="col-lg-7">
											<div class="post-content">
												<h2 class="font-weight-semibold pt-4 pt-lg-0 text-5 line-height-4 mb-2"><a href="blogs-single.html">This is a stardard post with preview image</a></h2>
												<p class="mb-0">Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla nunc dui, tristique in semper vel, congue sed ligula. Nam dolor ligula, faucibus id sodales in, auctor fringilla libero. Pellentesque pellentesque tempor tellus eget hendrerit. Morbi id aliquam ligula. Aliquam id dui sem. Proin rhoncus consequat nisl, eu ornare mauris tincidunt vitae. [...]</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="post-meta">
												<span><i class="far fa-calendar-alt"></i> January 10, 2023 </span>
												<span><i class="far fa-user"></i> By <a href="#">John Doe</a> </span>
												<span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>
												<span class="d-block d-sm-inline-block float-sm-end mt-3 mt-sm-0"><a href="blogs-single.html" class="btn btn-light text-1 text-uppercase" style="border-radius: var(--bs-btn-border-radius) !important;">Read More</a></span>
											</div>
										</div>
									</div>
								</article>								

								<ul class="pagination float-end">
									<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>

							</div>
						</div>
						<div class="col-lg-3 pt-4 pt-lg-0 order-lg-2">
							<aside class="sidebar">
								<div class="px-3">
									<form action="page-search-results.html" method="get">
										<div class="input-group mb-3 pb-1">
											<input class="form-control box-shadow-none text-1 border-0 bg-color-grey" placeholder="Search..." name="s" id="s" type="text">
											<button type="submit" class="btn bg-color-grey text-1 p-2"><i class="fas fa-search m-2"></i></button>
										</div>
									</form>
								</div>
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div>
								<div class="px-3 mt-4">
									<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Posts</h3>
									<div class="pb-2 mb-1">
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">10 Jan 2023 <span class="opacity-3 d-inline-block px-2">|</span> John Doe</a>
										<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Building a Culture of Inclusion</a>
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">23 Aug 2023 <span class="opacity-3 d-inline-block px-2">|</span> Mike Doe</a>
										<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">HR Analytics Unleashed</a>
										<a href="#" class="text-color-default text-uppercase text-1 mb-0 d-block text-decoration-none">17 Jul 2023 <span class="opacity-3 d-inline-block px-2">|</span> Ali Doe</a>
										<a href="#" class="text-color-dark text-hover-primary font-weight-bold text-3 d-block pb-3 line-height-4">Performance Management Art</a>
									</div>
								</div>
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div>
								<!-- <div class="px-3 mt-4">
									<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0 mb-3">Recent Comments</h3>
									<div class="pb-2 mb-1">
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-dark text-hover-primary text-4">Vivamus sollicitudin</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2023</span></a>
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">John Doe on <strong class="text-color-dark text-hover-primary text-4">Lorem ipsum dolor</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2023</span></a>
										<a href="#" class="text-color-default text-2 mb-0 d-block text-decoration-none line-height-4">Admin on <strong class="text-color-dark text-hover-primary text-4">Consectetur adipiscing</strong> <span class="text-uppercase text-1 d-block pt-1 pb-3">10 Jan 2023</span></a>
									</div>
								</div>
								<div class="py-1 clearfix">
									<hr class="my-2">
								</div> -->
								<div class="px-3 mt-4">
									<h3 class="text-color-dark text-capitalize font-weight-bold text-5 m-0">Categories</h3>
									<ul class="nav nav-list flex-column mt-2 mb-0 p-relative right-9">
										<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Leadership Insights (2)</a></li>
										<li class="nav-item">
											<a class="nav-link bg-transparent border-0 active" href="#">Industry Trends (4)</a>
											<ul>
												<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Mental Health</a></li>
												<li class="nav-item"><a class="nav-link bg-transparent border-0 active" href="#">Soft Skills</a></li>
												<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">HR Decisions</a></li>
												<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Business</a></li>
											</ul>
										</li>
										<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">HR Best Practices (3)</a></li>
										<li class="nav-item"><a class="nav-link bg-transparent border-0" href="#">Technology (1)</a></li>
									</ul>
								</div>
							</aside>
						</div>
					</div>
				</div>

				<section class="get-in-touch bg-color-after-secondary overlay overlay-color-primary overlay-show p-relative overflow-hidden" style="background-image: url('../../assets/images/bg-2.jpg'); background-size: cover; background-position: center;">
					<span class="custom-circle custom-circle-1 bg-color-light appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
					<span class="custom-circle custom-circle-2 bg-color-light appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<p class="mb-2 text-color-tertiary custom-text-7 custom-title-with-icon custom-title-with-icon-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Let’s Get in Touch</p>
								<h4 class="text-color-light font-weight-bold custom-text-10 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
									We’re interested in talking<br/>
									about your business.
								</h4>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-start justify-content-lg-end mt-5 mt-lg-0">
								<a herf="#" class="btn btn-outline custom-btn-outline btn-light border-white rounded-0 px-4 py-3 text-color-light text-color-hover-dark bg-color-hover-light custom-text-6 line-height-6 font-weight-semibold custom-btn-with-arrow appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">Let’s Talk!</a>
							</div>
						</div>
					</div>
				</section>

			</div>

			<footer id="footer" class="mt-0 py-3">
				<div class="container py-4">
					<div class="row justify-content-between">
						<div class="col-sm-12 col-lg-6 col-xl-6">
							<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
								<h4 class="custom-font-primary custom-newsletter-title font-weight-bold mb-4 custom-text-7">Join for Company Updates</h4>
								<div class="alert alert-success d-none" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>
								<div class="alert alert-danger d-none" id="newsletterError"></div>
								<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="me-0 mb-3 mb-md-0 opacity-10">
									<div class="input-group custom-newsletter">
										<input class="form-control form-control-sm custom-newsletter-input rounded-0 bg-transparent border-0 ps-0 custom-text-2 text-color-light box-shadow-none" placeholder="Your E-mail Address" name="newsletterEmail" id="newsletterEmail" type="email">
										<button class="btn text-color-light custom-text-4 font-weight-semibold custom-btn-with-arrow custom-btn-with-arrow-light" type="submit">Sign Up</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-sm-12 col-lg-6 col-xl-4 col-info-footer mt-4 mt-sm-5 mt-lg-0">
							<div class="row">
								<div class="col-md-6">
									<span class="d-block text-start text-lg-end text-color-light font-weight-semibold text-5 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">Los Angeles</span>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="150">123 The Main Street</p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Los Angeles, CA 1000</p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250"><a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p>
								</div>
								<div class="col-md-6 mt-3 mt-md-0">
									<span class="d-block text-start text-lg-end text-color-light font-weight-semibold text-5 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">New York</span>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="150">123 The Main Street</p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">New York, NY 1000</p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250"><a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p>
								</div>
							</div>
						</div>
					</div>
					<div class="row justify-content-between">
						<div class="col-sm-12 col-lg-7 col-xl-6 d-none d-sm-flex">
							<div class="nav-footer w-100 pt-5 mt-0 mt-lg-4">
								<div class="row justify-content-between">
									<div class="col-auto me-auto">
										<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
											<div class="footer-nav footer-nav-links">
												<nav>
													<ul class="nav" id="footerNav">
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="demo-digital-agency-2-our-services.html">Our Solutions</a>
														</li>
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="demo-digital-agency-2-our-work.html">Our Projects</a>
														</li>
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="demo-digital-agency-2-contact-us.html">Contact Us</a>
														</li>
													</ul>
												</nav>
											</div>			
										</div>							
									</div>
									<div class="col-auto">
										<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
											<ul class="header-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big d-none d-lg-block m-0 p-relative bottom-10">
												<li class="social-icons-instagram"><a href="https://www.linkedin.com/" target="_blank" class="text-4" title="Instagram"><i class="fab fa-linkedin-in"></i></a></li>
												<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-5 col-xl-6">
							<div class="d-flex justify-content-end custom-footer-copywriting pt-5 mt-0 mt-lg-4">
								<p class="mb-0 text-start text-lg-end d-block w-100 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">End To End Agency. ©  2023.  All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="../../assets/vendor/plugins/js/plugins.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="../../assets/js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="../../assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="../../assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="../../assets/js/theme.init.js"></script>

	</body>
</html>