<!DOCTYPE html>
<html lang="en" class="light">
	<head>
		<!-- Basic -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>End To End | Our Services</title>	

		<meta name="keywords" content="HR Solutions Company End To End Services" />
		<meta name="description" content="End To End - Hr solutions firm - Services">
		<meta name="author" content="End To End">

		<!-- Favicon -->
		<link rel="shortcut icon" href="../../assets/img/logo transparent.png" type="image/x-icon" />

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

		<!-- Web Fonts  -->
		<link id="googleFonts" href="https://fonts.googleapis.com/css?family=family=Lora:400,400i,700,700i|Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="../../assets/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="../../assets/vendor/fontawesome-free/css/all.min.css">
		<link rel="stylesheet" href="../../assets/vendor/animate/animate.compat.css">
		<link rel="stylesheet" href="../../assets/vendor/simple-line-icons/css/simple-line-icons.min.css">
		<link rel="stylesheet" href="../../assets/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="../../assets/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="../../assets/vendor/magnific-popup/magnific-popup.min.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="../../assets/css/theme.css">
		<link rel="stylesheet" href="../../assets/css/theme-elements.css">
		<link rel="stylesheet" href="../../assets/css/theme-blog.css">
		<link rel="stylesheet" href="../../assets/css/theme-shop.css">

		<!-- Demo CSS -->
		<link rel="stylesheet" href="../../assets/css/demos/demo-digital-agency-2.css">

		<!-- Skin CSS -->
		<link id="skinCSS" rel="stylesheet" href="../../assets/css/skins/skin-digital-agency-2.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="../../assets/css/custom.css">

		<!-- Head Libs -->
		<script src="../../assets/vendor/modernizr/modernizr.min.js"></script>

	</head>
	<body>

		<div class="body">
			<header id="header" class="header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 120, 'stickyHeaderContainerHeight': 70}" style="height: 153px;">
				<div class="header-body border-top-0" style="position: fixed;background: #fff;">
					<div class="header-top header-top-default border-bottom-0 bg-color-primary" style="height: 52px;">
						<div class="container">
							<div class="header-row py-2">
								<div class="header-column justify-content-start">
									<div class="header-row">
										<nav class="header-nav-top">
											<ul class="nav nav-pills">
												<li class="nav-item">
													<span class="text-light opacity-7 ps-0">Call Us Today! 800-123-4567</span>
												</li>
											</ul>
										</nav>
									</div>
								</div>
								<div class="header-column justify-content-end">
									<div class="header-row">
										<nav class="header-nav-top">
											<ul class="nav nav-pills text-uppercase text-2">
												<li class="nav-item nav-item-anim-icon d-none d-md-block">
													<a class="nav-link ps-0 text-light opacity-7" href="About.html"><i class="fas fa-angle-right"></i> About Us</a>
												</li>
												<li class="nav-item nav-item-anim-icon d-none d-md-block">
													<a class="nav-link text-light opacity-7 pe-0" href="../Contact/Contact.html"><i class="fas fa-angle-right"></i> Contact Us</a>
												</li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="header-container header-container-md container" style="height: 100px;">
						<div class="header-row">
							<div class="header-column">
								<div class="header-row">
									<div class="header-logo" style="width: 100px; height: 48px;">
										<a href="../../index.html">
																						<img alt="Porto" width="194" height="54" data-sticky-width="186" data-sticky-height="50" src="../../img/logo/logo.png">

										</a>
									</div>
								</div>
							</div>
							<div class="header-column justify-content-end">
								<div class="header-row">
									<div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-dark header-nav-bottom-line-effect-1 order-2 order-lg-1">
										<div class="header-nav-main header-nav-main-square header-nav-main-text-capitalize header-nav-main-text-size-2 header-nav-main-text-weight-600 header-nav-main-dropdown-no-borders header-nav-main-effect-2 header-nav-main-sub-effect-1">
											<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li class="dropdown-primary">
														<a class="nav-link text-capitalize font-weight-semibold custom-text-3 " href="../../index.html">
															Home
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3 active" class="dropdown-toggle" href="../solutions/solutions.html">
															Solutions
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title" >Talent Managament</span>
																			<ul class="dropdown-mega-sub-nav">
																				<!-- <li><a class="dropdown-item" href="../solutions/solutions.html">Our Solutions</a></li> -->
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 1</a></li>
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 2</a></li>
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 3</a></li>
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 4</a></li>
																				<li><a class="dropdown-item" href="../solutions/solutions-single.html">Solution 5</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Products</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../product/product.html">Our Products</a></li>
																				<li><a class="dropdown-item" href="../product/product-Single.html">Product 1</a></li>
																				<li><a class="dropdown-item" href="../product/product-2.html">Product 2</a></li>
																				<li><a class="dropdown-item" href="../product/product-Single.html">Product 3</a></li>
																				<li><a class="dropdown-item" href="../product/product-Single.html">Product 4</a></li>
																				<li><a class="dropdown-item" href="../product/product-Single.html">Product 5</a></li>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title" >Services</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../Services/services.html">Our Services</a></li>
																				<li><a class="dropdown-item" href="../solutions/Training_Calendar.html">Training Calendar</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
													<li class="dropdown">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3" class="dropdown-toggle" href="../Industries/Industries.html">
															Industries
														</a>
														<ul class="dropdown-menu">
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 1
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 2
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 3
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 4
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 5
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 6
																</a>
															</li>
															<li>
																<a class="dropdown-item font-weight-normal" href="../Industries/Industries-Single.html">
																	Industry 7
																</a>
															</li>
														</ul>
													</li>
													<li class="dropdown-primary">
														<a class="nav-link text-capitalize font-weight-semibold custom-text-3" href="../Contact/Contact.html">
															Contact Us
														</a>
													</li>
													<li class="dropdown dropdown-mega">
														<a class="nav-link dropdown-toggle text-capitalize font-weight-semibold custom-text-3 " class="dropdown-toggle" href="../About/About.html">
															About
														</a>
														<ul class="dropdown-menu">
															<li>
																<div class="dropdown-mega-content">
																	<div class="row">
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Company</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../About/About.html">About EndToEnd</a></li>
																				<li><a class="dropdown-item" href="../FAQ/FAQs.html">FAQs</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">News & Events</span>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../blogs/blogs.html">Blogs</a></li>
																			</ul>
																			<ul class="dropdown-mega-sub-nav">
																				<li><a class="dropdown-item" href="../Insights/Insights.html">Insights</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Partners</span>
																			<ul class="dropdown-mega-sub-nav">
																					<li><a class="dropdown-item" href="../vendors/vendors.html">EndToEnd Partners</a></li>
																			</ul>
																		</div>
																		<div class="col-lg-3">
																			<span class="dropdown-mega-sub-title">Customers</span>
																			<ul class="dropdown-mega-sub-nav">
																				<!-- <li><a class="dropdown-item" href="../calc/roi_calc.html">Our Customers</a></li> -->
																				<li><a class="dropdown-item" href="../projects/Projects.html">Projects</a></li>
																			</ul>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</li>
												</ul>
											</nav>
										</div>
										<button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
											<i class="fas fa-bars"></i>
										</button>
									</div>
									<div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
										<div class="header-nav-feature header-nav-features-search d-inline-flex">
											<a href="#" class="header-nav-features-toggle text-decoration-none" data-focus="headerSearch" aria-label="Search"><i class="fas fa-search header-nav-top-icon"></i></a>
											<div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed" id="headerTopSearchDropdown">
												<form role="search" action="page-search-results.html" method="get">
													<div class="simple-search input-group">
														<input class="form-control text-1" id="headerSearch" name="q" type="search" value="" placeholder="Search...">
														<button class="btn" type="submit" aria-label="Search">
															<i class="fas fa-search header-nav-top-icon text-color-dark"></i>
														</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                                <h1 class="text-color-dark font-weight-bold">Services</h1>
                            </div>
                            <div class="col-md-4 order-1 order-md-2 align-self-center">
                                <ul class="breadcrumb d-flex justify-content-md-end text-3-5">
                                    <li><a href="../../index.html" class="text-color-default text-color-hover-primary text-decoration-none">HOME</a></li>
                                    <li class="active">Services</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

				<div class="container py-5">

					<div class="row pb-4 mt-2">
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" style="animation-delay: 100ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-support text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/cooperation (1).png" alt=""><!--https://www.flaticon.com/free-icon/cooperation_9139670?term=onboarding&page=1&position=11&origin=tag&related_id=9139670-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Employee Onboarding</h4>
									<p>Designing and implementing <span class="alternative-font">effective</span> onboarding programs to integrate new hires smoothly into the company culture.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-layers text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/performance.png" alt=""><!--https://www.flaticon.com/free-icon/performance_8916667?term=performance+management&page=1&position=8&origin=search&related_id=8916667-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Performance Management</h4>
									<p>Developing performance appraisal systems, providing feedback mechanisms, and offering solutions for performance improvement.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-menu text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/team-leader.png" alt=""><!--https://www.flaticon.com/free-icon/team-leader_6234914?term=leadership+development&page=1&position=1&origin=search&related_id=6234914-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Leadership Development</h4>
									<p>Offering leadership training, coaching, and development programs to nurture future leaders within the organization.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row pb-4">
						<div class="col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-doc text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/productivity.png" alt=""><!--https://www.flaticon.com/free-icon/productivity_1429097?term=hr+technology&page=1&position=5&origin=search&related_id=1429097-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">HR Technology Solutions</h4>
									<p>Providing software and tools for HR automation, employee data management, and analytics to enhance HR operations.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-user text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/crm (2).png" alt=""><!--https://www.flaticon.com/free-icon/crm_10872153?term=employee+engagement&page=1&position=2&origin=search&related_id=10872153-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Employee Engagement</h4>
									<p>LoDeveloping strategies to improve employee morale, job satisfaction, and overall engagement levels.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<!-- <i class="icons icon-screen-desktop text-color-primary"></i> -->
                                    <img src="../../img/Services/icons/wages.png" alt=""><!--https://www.flaticon.com/free-icon/wages_6559016?term=compensation+and+benefits&page=1&position=19&origin=search&related_id=6559016-->
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Compensation and Benefits</h4>
									<p>Assisting in designing competitive compensation structures and benefit packages to attract and retain top talent.</p>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="icons icon-support text-color-primary"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Customer Support</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing <span class="alternative-font">metus.</span> elit. Quisque rutrum pellentesque imperdiet.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" style="animation-delay: 1000ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="icons icon-layers text-color-primary"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Sliders</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
							<div class="feature-box feature-box-style-2">
								<div class="feature-box-icon">
									<i class="icons icon-menu text-color-primary"></i>
								</div>
								<div class="feature-box-info">
									<h4 class="font-weight-bold mb-2">Buttons</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque rutrum pellentesque imperdiet. Nulla lacinia iaculis nulla.</p>
								</div>
							</div>
						</div>
					</div> -->
				</div>

                <section class="section section-primary m-0" style="border-color: #f7f7f7 !important;">
					<div class="container">
						<div class="row counters counters-text-light">
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
								<div class="counter">
									<strong data-to="10" data-append="+">10+</strong>
									<label>Years of Experience</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
								<div class="counter">
									<strong data-to="500" data-append="+">500+</strong>
									<label>Clients Served</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
								<div class="counter">
									<strong data-to="15">15</strong>
									<label>Global Reach</label>
								</div>
							</div>
							<div class="col-sm-6 col-lg-3">
								<div class="counter">
									<strong data-to="1000" data-append="+">1000+</strong>
									<label>Projects Completed</label>
								</div>
							</div>
						</div>
					</div>
				</section>

                <div class="container-fluid">
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 p-0">
							<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../../img/Services/generic-corporate-3-1-full.jpg" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url(&quot;img/generic/generic-corporate-3-1-full.jpg&quot;); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, 129.143px, 0px); background-position-x: 100%;"></div>
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" style="animation-delay: 100ms;"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Performance Management</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">HR performance management involves goal-setting,</p>
										</div>
										<p class="text-2 mb-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">feedback, and evaluation to enhance individual and organizational productivity, aligning the workforce with business objectives for sustained success.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 order-2 order-lg-1 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row justify-content-end m-0">
									<div class="col-half-section col-half-section-right custom-text-align-right">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" style="animation-delay: 100ms;"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">Creative Websites</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">Creative HR websites combine design and functionality to attract top talent</p>
										</div>
										<p class="text-2 mb-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">showcasing company culture and career opportunities for effective recruitment and branding.</p>
									</div>
								</div>
							</section>
						</div>
						<div class="col-lg-6 order-1 order-lg-2 p-0">
							<section class="parallax section section-parallax h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../../img/Services/generic-corporate-3-2-full.jpg" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url(&quot;img/generic/generic-corporate-3-2-full.jpg&quot;); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, 39.1429px, 0px); background-position-x: 100%;"></div>
							</section>
						</div>
					</div>
					<div class="row align-items-center bg-color-grey">
						<div class="col-lg-6 p-0">
							<section class="parallax section section-parallax custom-parallax-bg-pos-left custom-sec-left h-100 m-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'horizontalPosition': '100%'}" data-image-src="../../img/Services/generic-corporate-3-3-full.jpg" style="min-height: 315px; position: relative; overflow: hidden;"><div class="parallax-background" style="background-image: url(&quot;img/generic/generic-corporate-3-3-full.jpg&quot;); background-size: cover; position: absolute; top: 0px; left: 0px; width: 100%; height: 180%; transform: translate3d(0px, -50.8571px, 0px); background-position-x: 100%;"></div>
							</section>
						</div>
						<div class="col-lg-6 p-0">
							<section class="section section-no-border h-100 m-0">
								<div class="row m-0">
									<div class="col-half-section col-half-section-left">
										<div class="overflow-hidden">
											<h4 class="mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" style="animation-delay: 100ms;"><a href="#" class="text-4 font-weight-bold pt-2 d-block text-dark text-decoration-none pb-1">SEO Optimization</a></h4>
										</div>
										<div class="overflow-hidden mb-2">
											<p class="mb-0 lead text-4 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="200" style="animation-delay: 200ms;">HR SEO optimization involves optimizing online job postings and career pages to rank higher in search engine results,</p>
										</div>
										<p class="text-2 mb-0 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">increasing the visibility of job opportunities to attract top talent effectively. This strategy enhances the recruitment process and ensures that the right candidates discover and apply for open positions.</p>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

                <div class="container">
					<div class="row py-5 mt-5 mb-4">
						<div class="col-md-6 mb-5 mb-md-0 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
							<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote mb-0">
								<div class="testimonial-author">
									<img src="../../img/Services/client-1.jpg" class="img-fluid rounded-circle mb-0" alt="">
								</div>
								<blockquote>
									<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ornare, risus vel tristique pharetra.</p>
								</blockquote>
								<div class="testimonial-author">
									<p><strong class="font-weight-extra-bold text-3 mb-1">John Doe</strong><span>Okler</span></p>
								</div>
							</div>
						</div>
						<div class="col-md-6 appear-animation animated fadeInLeftShorter appear-animation-visible" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
							<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote mb-0">
								<div class="testimonial-author">
									<img src="../../img/Services/client-2.jpg" class="img-fluid rounded-circle mb-0" alt="">
								</div>
								<blockquote>
									<p class="text-color-dark text-5 line-height-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum sollicitudin risus, non lacini.</p>
								</blockquote>
								<div class="testimonial-author">
									<p><strong class="font-weight-extra-bold text-3 mb-1">Melinda Doe</strong><span>Okler</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<section class="section border-0 m-0 appear-animation animated fadeIn appear-animation-visible" data-appear-animation="fadeIn" data-appear-animation-delay="1200" style="animation-delay: 1200ms;">
					<div class="container">
						<div class="row align-items-center justify-content-center">
							<div class="col-sm-9 col-md-12 col-lg-7 text-center text-lg-end mb-4 mb-lg-0">
								<h2 class="font-weight-bold text-color-primary text-7 line-height-1 mb-1 appear-animation animated fadeInLeftShorterPlus appear-animation-visible" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1700" style="animation-delay: 1700ms;">Transform your business seamlessly</h2>
								<p class="font-weight-bold text-4 mb-0 appear-animation animated fadeInLeftShorterPlus appear-animation-visible" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1900" style="animation-delay: 1900ms;">Make An Appointment Today With Our Online Form</p>
							</div>
							<div class="col-lg-5 text-center text-lg-start ps-lg-4">
								<a href="views/demo/demo.html" class="btn btn-primary btn-outline custom-btn-border-radius font-weight-bold text-3 btn-px-5 btn-py-3 ms-lg-2 appear-animation animated fadeInLeftShorterPlus appear-animation-visible" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1500" style="animation-delay: 1500ms;">BOOK A DEMO</a>
							</div>
						</div>
					</div>
				</section>
				<br>
				<section class="p-relative pt-0 pb-5 mb-xl-5">
					<div class="container">
						<div class="row">
							<div class="col">
								<h4 class="text-color-dark custom-text-10 font-weight-bold text-center custom-title-with-icon-center custom-title-with-icon custom-title-with-icon-primary pb-5 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Our Clients</h4>
							</div>
						</div>
						<div class="row flex-row align-items-center justify-content-center mb-lg-5">
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="100">
								<img src="../../img/our-services-client-1.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
								<img src="../../img/our-services-client-2.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
								<img src="../../img/our-services-client-3.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
								<img src="../../img/our-services-client-4.png" class="img-fluid">
							</div>
						</div>
						<div class="row flex-row align-items-center justify-content-center">
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="500">
								<img src="../../img/our-services-client-5.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="600">
								<img src="../../img/our-services-client-6.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="700">
								<img src="../../img/our-services-client-7.png" class="img-fluid">
							</div>
							<div class="col-sm-6 col-md-3 col-lg-2 d-flex justify-content-center appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800">
								<img src="../../img/ADP-logo.png" class="img-fluid">
							</div>
						</div>
					</div>
				</section>

				<section class="get-in-touch bg-color-after-secondary overlay overlay-color-primary overlay-show p-relative overflow-hidden" style="background-image: url('../../img/bg-2.jpg'); background-size: cover; background-position: center;">
					<span class="custom-circle custom-circle-1 bg-color-light appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
					<span class="custom-circle custom-circle-2 bg-color-light appear-animation" data-appear-animation="zoomIn" data-appear-animation-delay="100"></span>
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<p class="mb-2 text-color-tertiary custom-text-7 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">Let’s Get in Touch</p>
								<h4 class="text-color-light font-weight-bold custom-text-10 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
									We’re interested in talking<br/>
									about your business.
								</h4>
							</div>
							<div class="col-lg-4 d-flex align-items-center justify-content-start justify-content-lg-end mt-5 mt-lg-0">
								<a href="../Contact/Contact.html" class="btn btn-outline custom-btn-outline btn-light border-white rounded-0 px-4 py-3 text-color-light text-color-hover-dark bg-color-hover-light custom-text-6 line-height-6 font-weight-semibold custom-btn-with-arrow appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="600">Let’s Talk!</a>
							</div>
						</div>
					</div>
				</section>

			</div>

			<footer id="footer" class="mt-0 py-3">
				<div class="container py-4">
					<div class="row justify-content-between">
						<!-- <div class="col-sm-12 col-lg-6 col-xl-6">
							<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
								<h4 class="custom-font-primary custom-newsletter-title font-weight-bold mb-4 custom-text-7">Join for Company Updates</h4>
								<div class="alert alert-success d-none" id="newsletterSuccess">
									<strong>Success!</strong> You've been added to our email list.
								</div>
								<div class="alert alert-danger d-none" id="newsletterError"></div>
								<form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST" class="me-0 mb-3 mb-md-0 opacity-10">
									<div class="input-group custom-newsletter">
										<input class="form-control form-control-sm custom-newsletter-input rounded-0 bg-transparent border-0 ps-0 custom-text-2 text-color-light box-shadow-none" placeholder="Your E-mail Address" name="newsletterEmail" id="newsletterEmail" type="email">
										<button class="btn text-color-light custom-text-4 font-weight-semibold custom-btn-with-arrow custom-btn-with-arrow-light" type="submit">Sign Up</button>
									</div>
								</form>
							</div>
						</div> -->
						<div class="col-sm-12 col-lg-6 col-xl-9 col-info-footer mt-4 mt-sm-5 mt-lg-0">
							<div class="row">
								<div class="col-md-6 ">
									<span style="text-align: left !important;" class="d-block text-start text-lg-end text-color-light font-weight-semibold text-5 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">Los Angeles</span>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="150">123 The Main Street  Los Angeles, CA 1000  <a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p>
									<!-- <p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Los Angeles, CA 1000</p> -->
									<!-- <p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250"><a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p> -->
								</div>
								<!-- <div class="col-md-6 mt-3 mt-md-0">
									<span style="text-align: left !important;" class="d-block text-start text-lg-end text-color-light font-weight-semibold text-5 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="100">New York</span>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="150">123 The Main Street  New York, NY 1000  <a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">New York, NY 1000</p>
									<p class="mb-0 text-start text-lg-end text-4 font-weight-medium appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="250"><a href="tel:+1234567890" class="text-color-default">(123) 456-7890</a></p>
								</div> -->
							</div>
						</div>
					</div>
					<div class="row justify-content-between">
						<div class="col-sm-12 col-lg-7 col-xl-6 d-none d-sm-flex">
							<div class="nav-footer w-100 pt-5 mt-0 mt-lg-4">
								<div class="row justify-content-between">
									<div class="col-auto me-auto">
										<div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
											<div class="footer-nav footer-nav-links">
												<nav>
													<ul class="nav" id="footerNav">
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="../EndToEnd/views/solutions/solutions.html">Our Solutions</a>
														</li>
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="../EndToEnd/views/projects/Projects.html">Our Projects</a>
														</li>
														<li>
															<a class="text-color-hover-primary font-weight-semibold custom-text-2 text-capitalize" href="../EndToEnd/views/Contact/Contact.html">Contact Us</a>
														</li>
													</ul>
												</nav>
											</div>			
										</div>							
									</div>
									<div class="col-auto">
										<div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="100">
											<ul class="header-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-big d-none d-lg-block m-0 p-relative bottom-10">
												<li class="social-icons-linkedin"><a href="https://www.linkedin.com/" target="_blank" class="text-4" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
												<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" class="text-4" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-lg-5 col-xl-6">
							<div class="d-flex justify-content-end custom-footer-copywriting pt-5 mt-0 mt-lg-4">
								<p class="mb-0 text-start text-lg-end d-block w-100 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">End To End Agency. ©  2023.  All Rights Reserved</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<!-- Vendor -->
		<script src="../../assets/vendor/plugins/js/plugins.min.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="../../assets/js/theme.js"></script>

		<!-- Current Page Vendor and Views -->
		<script src="../../assets/js/views/view.contact.js"></script>

		<!-- Theme Custom -->
		<script src="../../assets/js/custom.js"></script>

		<!-- Theme Initialization Files -->
		<script src="../../assets/js/theme.init.js"></script>

	</body>
</html>